<!--<!DOCTYPE html>-->
  <!--<html lang="en">-->
    <!--<head>-->
      <!--<meta charset="utf-8">-->
      <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
      <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">-->
        <!--<style>-->
<!--* {-->
  <!--box-sizing: border-box;-->
<!--}-->

<!--body {-->
  <!--font-family: Times New Roman;-->
  <!--padding: 10px;-->
  <!--background: LightYellow;-->
<!--}-->

<!--/* Header/Blog Title */-->
<!--.header {-->
  <!--padding: 30px;-->
  <!--text-align: center;-->
  <!--background: #ff8080;-->
<!--}-->

<!--.header h1 {-->
  <!--font-size: 50px;-->
<!--}-->

<!--/* Style the top navigation bar */-->
<!--.topnav {-->
  <!--overflow: hidden;-->
  <!--background-color: #ffff66;-->
<!--}-->

<!--/* Style the topnav links */-->
<!--.topnav a {-->
  <!--float: left;-->
  <!--display: block;-->
  <!--color: #00802b;-->
  <!--text-align: center;-->
  <!--padding: 14px 16px;-->
  <!--text-decoration: none;-->
<!--}-->

<!--/* Change color on hover */-->
<!--.topnav a:hover {-->
  <!--background-color: #ddd;-->
  <!--color: DarkBlue;-->
<!--}-->

<!--/* Create two unequal columns that floats next to each other */-->
<!--/* Left column */-->
<!--.leftcolumn {-->
  <!--float: left;-->
  <!--width: 75%;-->
<!--}-->

<!--/* Right column */-->
<!--.rightcolumn {-->
  <!--float: left;-->
  <!--width: 25%;-->
  <!--background-color: #f1f1f1;-->
  <!--padding-left: 20px;-->
<!--}-->

<!--/* Fake image */-->
<!--.fakeimg {-->
  <!--background-color: white;-->
  <!--width: 100%;-->
  <!--padding: 20px;-->
<!--}-->

<!--/* Add a card effect for articles */-->
<!--.card {-->
  <!--background-color: LightBlue;-->
  <!--padding: 20px;-->
  <!--margin-top: 20px;-->
<!--}-->

<!--/* Clear floats after the columns */-->
<!--.row:after {-->
  <!--content: "";-->
  <!--display: table;-->
  <!--clear: both;-->
<!--}-->

<!--/* Footer */-->
<!--.footer {-->
  <!--padding: 20px;-->
  <!--text-align: center;-->
  <!--background: #ddd;-->
  <!--margin-top: 20px;-->
<!--}-->

<!--/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */-->
<!--@media screen and (max-width: 800px) {-->
  <!--.leftcolumn, .rightcolumn {-->
    <!--width: 100%;-->
    <!--padding: 0;-->
  <!--}-->
<!--}-->

<!--/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */-->
<!--@media screen and (max-width: 400px) {-->
  <!--.topnav a {-->
    <!--float: none;-->
    <!--width: 100%;-->
  <!--}-->
<!--}-->
          <!--</style>-->
    <!--</head>-->
        <!--<body>-->
<!--<div class="container-fluid">-->

<!--<div class="header">-->
  <!--<h1>KYRGYZSTAN</h1>-->
  <!--<h2>So much to discover</h2>-->
<!--</div>-->

<!--<div class="topnav">-->
  <!--<a href="file:///C:/Users/User/Desktop/issykkul.html">Issyk-Kul</a>-->
  <!--<a href="file:///C:/Users/User/Desktop/naryn.html">Naryn</a>-->
  <!--<a href="file:///C:/Users/User/Desktop/chui.html">Chui</a>-->
  <!--<a href="file:///C:/Users/User/Desktop/osh.html">Osh</a>-->
  <!--<a href="file:///C:/Users/User/Desktop/ja.html">Jalal-Abad</a>-->
  <!--<a href="https://en.wikipedia.org/wiki/Talas,_Kyrgyzstan">Talas</a>-->
  <!--<a href="file:///C:/Users/User/Desktop/batken.html">Batken</a>-->
  <!--<a href="file:///C:/Users/User/Desktop/резюме.html">Abot Us</a>-->
  <!--<a href="https://2gis.kg/" style="float:right">2gis</a>-->
<!--</div>-->

<!--<div class="row">-->
  <!--<div class="leftcolumn">-->
    <!--<div class="card">-->
      <!--<h2>Preparation for "Nooruz"</h2>-->
      <!--<h5> Feb 6, 2019</h5>-->
      <!--<div style="height:150px;">-->
      <!--<a href="file:///C:/Users/User/Desktop/nooruz.html">-->
       <!--<img src="images.jpg">-->
      <!--</a>-->
      <!--</div>-->
      <!--<p>Nooruz (or Nowruz) is celebrated on the spring equinox, usually March 21st, and marks the beginning of a new year. Although originally a pagan holiday, the equinox is considered a holy day among Zoroastrians, and is celebrated across Eurasia.No celebration would be complete without horse games. Horse games are commonly organized for Nooruz, and can be found at the Hippodrome in Bishkek and in other areas. There are archery competitions, er enish contests, and races, but teams will also gather for championship games in kok-boru.</p>-->
      <!--<p></p>-->
    <!--</div>-->
    <!--<div class="card">-->
      <!--<h2>World Nomad Games</h2>-->
      <!--<h5>Feb 2, 2019</h5>-->
      <!--<div  style="height:200px;">-->
       <!--<a href="file:///C:/Users/User/Desktop/wng.html">-->
        <!--<img src="wor.png">-->
       <!--</a>-->
      <!--</div>-->
      <!--<p>3rd WNG: What is new?</p>-->
      <!--<p>World Nomad Games are an international sport competition dedicated to ethnic sports practiced in Central Asia. The countries taking part in those games are the former Soviet republics of Kyrgyzstan, Kazakhstan, Azerbaijan, Uzbekistan, Turkmenistan, Tajikistan, and Russia (especially Sakha, Buryatia, Altay, Kalmykia, Bashkortostan republics, etc.) as well as other countries like Mongolia, Turkey, Afghanistan, Philippines and the United States.The first three World Nomad Games were held in Cholpon-Ata, Kyrgyzstan; however, Turkey has been announced as the host of the fourth games.</p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="rightcolumn">-->
    <!--<div class="card">-->
      <!--<h2>About Country of Mountains</h2>-->
      <!--<div style="height:100px;">-->
      <!--<a href="file:///C:/Users/User/Desktop/wng.html">-->
       <!--<img src="mo.jpg">-->
      <!--</>-->
      <!--</div>-->
      <!--<p>Kyrgyzstan is a landlocked country in Central Asia, bordering Kazakhstan, China, Tajikistan and Uzbekistan. It is farther from the sea than any other individual country, and all its rivers flow into closed drainage systems which do not reach the sea. The mountainous region of the Tian Shan covers over 80% of the country (Kyrgyzstan is occasionally referred to as "the Switzerland of Central Asia", as a result),with the remainder made up of valleys and basins.</p>-->
    <!--</div>-->
    <!--<div class="card">-->
      <!--<h3>Popular Places </h3>-->
      <!--<div><p><img src="Issyk-kul.jpg"></p></div>-->
      <!--<div><p><img src="Vod.jpg"></p></div>-->
    <!--</div>-->
    <!--<div class="card">-->
      <!--<h3>Follow Me</h3>-->
      <!--<p>Discover KG with us!</p>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
 <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>-->
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>-->

<!--</div>-->
        <!--</body>-->
  <!--</html>-->


{% load static %}

